<% include ./partials/header %>
	<div class="container">
		<div class="col-lg-12 homeContainer">
			<center>
				<p id="homeTitle"> 5 STEPS TO CREATE YOUR CUSTOMER VALUE OPTIMIZATION FUNNEL</p>
			</center>
			<p>Customer Value Optimization (CVO) has a strong emphasis on increasing conversion rates, and an even stronger emphasis on increasing the average value of every single customer that comes through your "door." The goal is to create a sales funnel that
				allows you to outspend your competition to acquire and keep customers. </p>

			<p> A Customer Value Optimization Funnel is used to:
				<ul style="list-style-type: none;">
					<li>1. Increase the number of customers</li>
					<li>2. Increase the average transaction value per customer</li>
					<li>3. increase the number of transactions per customer</li>
				</ul>
			</p>


			<center><img src="../images/overview.png" class="img-thumbnail" style="width: 800px; margin-top: 25px; margin-bottom: 25px"></center>
		</div>
	</div>
	<% include ./partials/footer %>
